<head>
    <% if flash[:notice] %>
    <div class="alert alert-success text-center">
        <%= flash[:notice] %>
    </div>
    <% elsif flash[:alert] %>
        <div class="alert alert-danger text-center">
            <%= flash[:alert] %>
        </div>
    <% end %>

    <title>Productos</title>
</head>
<body>
    <h1>Productos</h1>
    <% if can?(:create, Product) %>
        <div class="new-product-button">
        <%= link_to "Nuevo producto", new_product_path, class: 'new-product-button' %>
        </div>
    <% end %>
    <div class="general-container">
        <div class="products-filters">
        <h2>Filtros</h2>
        <%= search_form_for @q, url: products_path, method: :get do |f| %>
            <div class="field">
            <%= f.label :name_cont, "Nombre contiene" %>
            <%= f.search_field :name_cont, class: 'form-control' %>
            </div>
            <div>
            <%= f.label :category_id_eq, "Categoría", class:"field"%>
            <%= f.collection_select :category_id_eq, Category.all, :id, :name, include_blank: "Todas las categorías", class: 'form-control' %>
            </div>
            <%= f.submit "Buscar", class: 'btn btn-primary' %>
        <% end %>
        </div>
        <div class="products-container">
            <% if @products.any? %>
                <ul class="products-list">
                    <% @products.each do |product| %>
                        <li class="product-item">
                            <h3><%= product.name %></h3>
                            <div>
                                <%= image_tag url_for(product.images[0]), class: 'product-image' %>
                            </div>
                            <p><%= product.description %></p>
                            <p>Precio: $<%= product.unit_price %></p>
                            <% if product.available_stock == 0 %>
                                <p class="text-danger">Sin stock</p>
                            <% end %>
                            <%= link_to "Ver detalle", product %>
                        </li>
                    <% end %>
                </ul>
            <% else %>
                <p>No se encontraron productos.</p>
            <% end %>
        </div>
    </div>>
</body>

<style>

.general-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1200px;
}

.products-filters {
    flex: 1; 
    padding: 20px;
    border-right: 1px solid #ddd;
    max-width: 300px; 
    background-color: #f1f1f1;
    border-radius: 8px;
    height: fit-content;
}

.products-filters h2 {
    margin-bottom: 20px;
}

.products-filters .field,
.products-filters div {
    margin-bottom: 15px;
}

.products-filters .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.products-filters .btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745; /* Green */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.products-filters .btn:hover {
    background-color: #218838; /* Darker green on hover */
}

.products-container {
    flex: 3; 
    padding: 20px;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

.product-image {
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

.new-product-button {
    display: inline-block;
    background-color: #28a745; /* Green */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
}

.new-product-button:hover {
    background-color: #218838; /* Darker green on hover */
}

.alert-danger {
    background-color: #fff5f5;
    border: 1px solid #feb2b2;
    color: var(--error-color);
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 1.5rem;
}


.alert-success {
    background-color: #f0fff4;
    border: 1px solid #c6f6d5;
    color: var(--success-color);
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 1.5rem;
}


</style>