<p style="color: green"><%= notice %></p>

<% content_for :title, "Ventas" %>

<h1>Ventas</h1>

<div id="sales">
  <% @sales.each do |sale| %>
    <h3> Cliente: <%= sale.client.first_name %> <%= sale.client.last_name %> </h3>
    <h3> Total: <%= sale.total %> </h3>
  
    <%= link_to "Editar venta", edit_sale_path(sale) %>
    <%= link_to "Eliminar venta", sale_path(sale), data: { turbo_method: :delete, confirm: "¿Estás seguro?" } %>
  <% end %>
</div>

<%= link_to "Nueva venta", new_sale_path %>
